.wrapper_unfold{
  position: fixed;
  top: 89px;
  left: 15vw;
}

.wrapper_fold{
  position: fixed;
  top: 89px;
  left: 50px;
}

.main_unfold{
  margin-top: 2.5vh;
  height: calc(100vh - 150px - 5vh);
  margin-left: 2.5vw;
  width: 80vw;
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: center;
  line-height: normal;
  overflow: scroll;
}

.main_unfold::-webkit-scrollbar{
  display: none;
}

.main_fold{
  margin-top: 2.5vh;
  height: calc(100vh - 150px - 5vh);
  margin-left: 2.5vw;
  width: calc(95vw - 50px);
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: center;
  line-height: normal;
  overflow: scroll;
}

.main_fold::-webkit-scrollbar{
  display: none;
}