.chat_bar_unfold{
  position: fixed;
  top: calc(100vh - 60px);
  line-height: 50px;
  height: 50px;
  left: 15vw;
  margin-left: 2.5vw;
  width: 80vw;
  border-radius: 20px;
  border: none;
  background-color: #f5f5f5;
}

.chat_bar_unfold:focus{
  outline: none;
}

.chat_bar_fold{
  position: fixed;
  top: calc(100vh - 60px);
  line-height: 50px;
  height: 50px;
  left: 50px;
  margin-left: 2.5vw;
  width: calc(95vw - 50px);
  border-radius: 20px;
  border: none;
  background-color: #f5f5f5;
}

.chat_bar_fold:focus{
  outline: none;
}

.wrapper_unfold{
  position: fixed;
  top: 89px;
  left: 15vw;
}

.wrapper_fold{
  position: fixed;
  top: 89px;
  left: 50px;
}

.chat_unfold{
  margin-top: 2.5vh;
  height: calc(100vh - 150px - 5vh);
  margin-left: 2.5vw;
  width: 80vw;
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: right;
  line-height: normal;
  overflow: scroll;
}

.chat_unfold::-webkit-scrollbar{
  display: none;
}

.chat_fold{
  margin-top: 2.5vh;
  height: calc(100vh - 150px - 5vh);
  margin-left: 2.5vw;
  width: calc(95vw - 50px);
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: right;
  line-height: normal;
  overflow: scroll;
}

.chat_fold::-webkit-scrollbar{
  display: none;
}

.finbtn{
  position: fixed;
  top: 52px;
  line-height: 30px;
  height: 30px;
  left: 87.5vw;
  margin: 3px;
  border: none;
  border-radius: 10px;
}

._ul{
  list-style-type: none;
  padding-left: 0px;
  line-height: 200%;
}

.main_unfold{
  margin-top: 2vh;
  height: 85vh;
  margin-left: 2.5vw;
  width: 80vw;
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: left;
  line-height: normal;
}

.main_fold{
  margin-top: 2vh;
  height: 85vh;
  margin-left: 2.5vw;
  width: calc(95vw - 50px);
  background-color: #f5f5f5;
  border-radius: 20px;
  text-align: left;
  line-height: normal;
}